#build파일은 commit하지 않음
/build
#app.iml 또한 commit하지 않음
#IML은 인 IntelliJ의 IDEA, 자바 응용 프로그램을 개발하는 데 사용되는 IDE에 의해 생성 된 모듈 파일입니다. 이는 자바, 플러그인, 안드로이드, 또는 메이븐 성분 일 수있다 발전 모듈에 대한 정보를 저장; 모듈 경로 의존성 및 기타 설정을 저장합니다.
#2인 이상일때 sdk 경로 및 로컬 라이브러리가 달라 충돌 가능
app.iml
#build.gradle은 공유하도록 한다.